<% provide(:title, "About") %>

<div class="center jumbotron">
    <h1>About</h1>
    <p>
        The Brick Works Company was founded in 2017 by Zack Valis, a student from the University of South Carolina Upstate.
        Our company strives to create unique, high-quality electronics that are focused toward enthusiasts.
    </p>
 </div>