<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Brick Works Company:
  <%= link_to "Email", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Facebook", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Twitter", '#', class: "btn btn-lg btn-primary" %>
  <%= link_to "Instagram", '#', class: "btn btn-lg btn-primary" %>
</p>