<% provide(:title, 'Contact') %>
<h1>Contact</h1>
<p>
  Contact the Brick Works Company:
  <%= link_to "Facebook", '#', class: "btn" %>
  <%= link_to "Twitter", 'https://twitter.com/thebrickworksco', class: "btn" %>
  <%= link_to "Instagram", 'https://www.instagram.com/thebrickworksco/', class: "btn" %>
</p>