<% provide(:title, "Help") %>
<h1>Help</h1>
<p>
  This is the FAQ section. I haven't though of any examole FAQs, but you can contact our email
  <%= link_to "here", '#', class: "btn btn-lg btn-primary" %>.
</p>