<% provide(:title, "Help") %>
<h1>Help</h1>
<h3>
  Here are some Frequently Asked Questions:
</h3>
<table>
  <ul>
    <h4>What are the shipping rates?</h4>
    <li>Shipping is $7.50 unless you spend over $150, in which case shipping is free.</li>
    <h4>What shipping courier do you use?</h4>
    <li>All items are shipped via USPS or UPS depending on the size. Larger packages will be sent through UPS.</li>
    <h4>Which countries do you ship to?</h4>
    <li>Unfortunately, at this time we only ship within the United States.</li>
  </ul>
</table>