<% provide(:title) %>
<div class="center jumbotron">
  <h1>Welcome to the Brick Works Company</h1>

  <h2>
    This is the home page for the
    <a href="">Brick Works Company</a>
    , a high-end electronics manufacturer.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>