<% provide(:title, "Mortar") %>
<h1>Mortar</h1>
<p>The Mortar is a high-end keyboard developed right here at Brick Works. The keyboard is designed with the enthusiast at mind. The Mortar as a standard option comes fully assembled,
            but for those who wish to save some money and want a fun DIY project, we also offer the Mortar as a kit. The Mortar's main features are a split design, meaning you can orient the two halves of the keyboard
            to your liking for enhanced ergonomics, multiple key layers for added functionality as well as custom macros, and screens on both halves of the keyboard that can be programmed by you for whatever you'd like.
            The screens will display which layer you are on by default. For more information click <a href="#">here</a>.</p>

<% if logged_in? %>
  <div class="row">
    <aside class="center">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
      <section class="micropost_form">
        <%= render 'shared/micropost_form' %>
      </section>
    </aside>
    <div class="col-md-8">
      <h3>Micropost Feed</h3>
      <%= render 'shared/feed' %>
    </div>
  </div>
<% else %>
  <div class="center jumbotron">
    <h2>Please log in to create and view reviews.</h2>
  </div>
<% end %>